.body{
    margin: 0;
    height: 100vh;
    display: grid;
    align-items: end;
    transition: all 1s ease-out;
}

.div{
    position: sticky;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;

    &__container{
        position: relative;
        left: 40px;
        width: 70px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background: #f7df1e;
        font-size: 30px;
        color: #f8ba11;
        .div__button{
            position: absolute;
            width: 70px;
            height: 70px;
            border-style: none;
            background: transparent;
        }
    
        .fas.fa-moon{
            position: absolute;
            padding: 19px;
        }

        .fas.fas.fa-sun{
            visibility: hidden;
        }
    }

}

.div__container:hover{
    position: absolute;
    left: 40px;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #222;
}






